<div class="card">
    <img src="https://images.unsplash.com/photo-1505330622279-bf7d7fc918f4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title"><%= articulo.titulo %></h5>
    <p class="card-text"><%= articulo.autor %></p>
    <p class="card-text"><%= articulo.contenido %></p>
    </div>
</div>