<div class="container bg-primary">
    <div class="row">
        <div class="col-12">
            <h1>Blog de noticias</h1>
        </div>
    </div>
</div>

<nav>
    <div class="titulo">
        <h1>Blog de noticias</h1>
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/articulos">Artículos</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/articulos/nuevo">Nuevo artículo</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
