<div class="container bg-primary">
    <div class="row">
        <div class="col-12">
            <h1>Blog de noticias</h1>
        </div>
    </div>
</div>

<nav>
    <div class="titulo">
        <h1>Blog de noticias</h1>
    </div>
    <ul>
        <li><a href="/">Artículos</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/agregar">Agregar un artículo</a></li>
    </ul>
</nav>
